<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Load the properties file: sport.properties -->
	<context:property-placeholder
		location="classpath:sport.properties"/>
		
		<!-- Define your beans here -->
		<!-- define the dependency -->
		<bean id="myFortuneService"
			class="com.springlearning.springdemo.HappyFortune">
		</bean>
		
		<bean id="myArrayFortuneService"
			class="com.springlearning.springdemo.ArrayFortune">
		</bean>



		<bean id="myCoach"
			class="com.springlearning.springdemo.BaseBallCoach">
			<!-- constructor injection reference -->
			<!-- <constructor-arg ref="myFortuneService"/> -->
			<!-- Setter Injection Reference -->
			<property name="fortuneservice" ref="myArrayFortuneService"></property>
			<property name="emailid" value="${foo.emailid}"></property>
			<property name="name" value="${foo.name}"></property>
		</bean>

</beans>





